bulkload_tools/names/class.rnc

default namespace = ""

start =
  element classification {
    element record {
      element name { text },
      element source { text },
      element nct {
        attribute n { xsd:integer },
        attribute type { xsd:NCName },
        text
      }+,
      element ct {
        attribute n { xsd:integer },
        attribute type { xsd:NCName },
        text
      }+
    }+
  }
